@use './variables.scss' as *;
@use './fonts.scss';

* {
  box-sizing: border-box;

  &:focus-visible {
    outline: 1px solid $secondary;
  }
}

html, body {
  margin: 0;
  padding: 0;
  height: 100dvh;
  display: flex;

  font-family: $font-family;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
  color: $main-text;

  background-color: $second-background;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
  font-size: 16px;
  color: $main-text;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  color: $main-text;
  transition: color 0.2s ease;

  &--muted {
    color: $muted-text;
  }

  @include mix.hover {
    color: $primary;
  }

  &:active {
    opacity: 0.6;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#app {
  width: 100vw;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: $phone) {
    align-items: stretch;
    justify-content: stretch;
  }
}