$main-background: #24242E;
$second-background: #141417;

$font-family: 'Syncopate', 'Arial', sans-serif; 

$main-text: #FFFFFF;
$muted-text: #777777;

$primary: #2ebf91;
$secondary: #8360c3;

$main-gradient: $primary, $secondary;

$phone: 500px;
